// base
@import "compass";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "partials/_normalize.scss";

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background:#999;
    font-family: arial;
    height: 100%;
    padding: 0;
}
h1 {
    color:red;
}
.container {
    max-width:800px;
    height: 100%;
    background: #fff;
    @include clearfix;
    margin: 0 auto;
}
img {
    width: 80%;
}
.left,.right {
    float: left;
    height: 100%;
}
.left {
    width: 70%;
    background:blue;
}
.right {
    background: pink;
    width: 30%;
}

.banner {
    background:purple;
    height:500px;
}

.inner-banner {
    background:red;
}
