html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #999;
  font-family: arial;
  height: 100%;
  padding: 0;
}

h1 {
  color: red;
}

.container {
  max-width: 800px;
  height: 100%;
  background: #fff;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.left,
.right {
  float: left;
  height: 100%;
}

.left {
  width: 70%;
  background: hotpink;
}

.right {
  background: pink;
  width: 30%;
}

.banner {
  background: purple;
  height: 450px;
  background-image: url("/images/pizza.jpg");
  background-color: red;
}

.inner-banner {
  background: orange;
}
