html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  /* 2 */
  /* 3 */
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #eee;
  font-family: arial;
  height: 100%;
  padding: 0;
}

h1 {
  color: red;
}

.container {
  max-width: 800px;
  height: 100%;
  background: #fff;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 80%;
}

.left,
.right {
  float: left;
  height: 100%;
}

.left {
  width: 70%;
  background: blue;
}

.right {
  background: pink;
  width: 30%;
}
