html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: arial;
  height: 100%;
}
